In [ ]:
"""1.Explain  key features of python that make it a popular choice for programming
1.Python is widely used in the data industry 
2.Easy to learn
3.High level language
4.It has vast number of libraries


2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
program
Predefined keywords are special reserved words that have specific meanings and purposes and can't be used
for anything but those specific purposes. 
Python has total 35 keywords.

In [1]:
print("hello world")     #print is a keyword

hello world

In [ ]:
""" 3.Compare and contrast mutable and immutable objects in Python with examples.
Mutable objects are objects whose values can be changed or altered after they are created.
immutable objects are objects which canot be changed.
List is mutable
Tuples is immutable
Set is mutable
Dictionary is mutable
String is immutable

In [2]:
#List Example
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [3]:
l[1]=6    #list values are changed therefore it is mutable
l

[1, 6, 3, 4]

In [4]:
#Tuple Example
t=(3,7,4,9,6)
type(t)

tuple

In [5]:
t

(3, 7, 4, 9, 6)

In [6]:
t(1)=1    #tuples are immutable as we cannot modify the elements
t

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (327922645.py, line 1)

In [7]:
#Set Example
s={3,7,6,8,3,5,6,8}
s

{3, 5, 6, 7, 8}

In [8]:
s.add(10)      #set is mutable as we are able to add element
s

{3, 5, 6, 7, 8, 10}

In [9]:
#String Example
s="data"
s

'data'

In [10]:
s[0]="s"   #string is immutable as we are not able to modify the string

TypeError: 'str' object does not support item assignment

In [ ]:
"""4.Discuss the different types of operators in Python and provide examples of how they are used.
Operators are special keywords to perform operation to manipulate data
Types of operators:
1.Arithematic operator +,-,*,/
2.Comparison operator ==,!=,<,>,<=,>=
3.Logical operator and, or
4.Assignment operator =,+=,-=,*=,/=
5.Membership operator in, not in
6.Identity operator is, not is
7.Bitwise operator binary(1,0)

In [11]:
# Examples of Arithematic operator
a=4
b=8
a+b

12

In [12]:
a-b

-4

In [13]:
a*b

32

In [14]:
a/b

0.5

In [15]:
# Examples of Arithematic operator
2==2

True

In [16]:
3!=3

False

In [17]:
4>7

False

In [18]:
8>2

True

In [20]:
# Examples of logical operator
True and True

True

In [21]:
True and False

False

In [23]:
True or False

True

In [24]:
# Examples of Assignment operator
a=3
a+7

10

In [29]:
a=3
a += 5
a

8

In [30]:
b=6
b -= 7
b

-1

In [ ]:
""""5.Explain the concept of type casting in Python with examples
Type casting  is the method to convert the Python variable datatype into 
a certain data type in order to perform the required operation

In [31]:
#Example
a='99'
type(a)

str

In [33]:
a=int(a)    #string converted to int
type(a)

int

In [34]:
b=100
type(b)

int

In [35]:
float(b)    #int converted to float

100.0

In [ ]:
"""6.How do conditional statements work in Python? Illustrate with examples
Conditional statements are used to code decisions
Types:
1. If
2. If else
3. If elif else
4. Nested if else

In [36]:
# if condition example
a=2
if a<10:
    print("true")
    a

true

In [39]:
#if else 
num=5
if num%2==0:
    print("even")
else:
        print("odd")
        num

odd

In [40]:
#if elif else
score=50
if(score>=90):
    print("A+")
elif(80<=score<=90):
    print("A")
elif(70<=score<80):
    print("B")
else:
    print("fail")

fail

In [41]:
#nested if else
marks=80
if marks>=80:
    if marks>=90:
        print("A")
    else:
        print("B")
else:
    print("Fail")

B

In [ ]:
"""7.Describe the different types of loops in Python and their use cases with examples.
Loops allows the code of block to execute repeatedly
Types:
for loop
while loop

In [45]:
#for loop- it iterates over a sequence of elements
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
#while loop- it executes a code repeatedly until the condition is true
n=7
i=1
while i<n:
    print(i)
    i=i+1

1
2
3
4
5
6